@import "lastest.css";
@import "searchbox.css";

.lastestbox{
    background-color: white;
    width: 90%;
    margin: 2%;
    margin-left: 50%;
    border-radius: 1vw;
    padding: 2%;
    transform: translateX(-50%);
}
.indexsearchbox{
    background-color: white;
    width: 90%;
    margin: 2%;
    margin-left: 50%;
    border-radius: 1vw;
    padding: 2%;
    transform: translateX(-50%);
    /*height: 2.5vw;
    min-height: 40px;*/
}
body{
    background-color: #7FE39F ;
}

.searchinput{
    /*width: 100%;*/
    height: 2.5vw;
    min-height: 40px;
    /*height: 100%;*/
    /*border-radius: 0px;*/
    /*border: 0px;*/
}
/*.col-4{
    padding: 1vh;
}
.col-8{
    padding: 1vh;
}*/
.docdata{
    background-color: white;
    margin: 1vh;
    border-radius: 1vw;
    padding: 1vw;
    height: 70vh;
    
}
.docshow{
    background-color: white;
    margin: 1vh;
    border-radius: 1vw;
    padding: 1vw;
    height: 70vh;
    
}
.dummydoc{
    background-color: #707070;
    width: 100%;
    height: 100%;
    padding: auto;
    padding-top: 30vh;
    /*position: relative;*/
}

.dummydoc p{
    /*position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 25%;
    transform: translateY(-50%);*/
    text-align: center;
    color: white;
}
